<h1>Resultados encontrados para:
    <small>{{ textoBusqueda }}</small>
</h1>
<hr>
<div class="row  animated fadeIn fast" *ngIf="heroesEncontrados.length==0">
    <div class="col-md-12">
        <div class="alert alert-warning " role="alert ">
            No se encontraron resultados
        </div>
    </div>
</div>
<div class="card-columns " *ngIf="heroesEncontrados.length>0">
    <app-heroe-tarjeta (heroeSeleccionado)="verHeroe($event)" [heroe]="coincidencia" [index]="coincidencia.idx" *ngFor=" let coincidencia of heroesEncontrados; let i=index ">
    </app-heroe-tarjeta>
</div>