<div class="container top30">
  <div class="row">
    <div class="col-md-3">
      <label for="termino">Buscar artista</label>
        <input type="text" class="form-control" placeholder="Buscar artista..."
        (keyup)="buscarArtistas()"
        [(ngModel)]="termino">
    </div>
    <div class="col-md-9" *ngIf="termino.length>1">
      <h1 class="text-capitalize">{{termino}}</h1>
      <hr>
      <div class="card-columns">
        <div class="card puntero"
            *ngFor="let artista of _spotify.artistas "
            [routerLink]="['/artist',artista.id]">
          <img class="card-img-top" [src]="artista.images | sinfoto">
          <div class="card-body">
            <h5 class="card-title">{{artista.name}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
