<div class="container top30">
  <div class="row">
    <div class="col-md-3">
      <label for="termino">Buscar artista</label>
        <input type="text" class="form-control" placeholder="Buscar artista..."
        (keyup)="buscarArtistas()"
        [(ngModel)]="termino">
    </div>
    <div class="col-md-9" *ngIf="termino.length>0">
      <h1 class="text-capitalize">{{termino}}</h1>
      <hr>
      <ul>
        <li *ngFor="let artista of _spotify.artistas ">
          {{artista.name}}
        </li>
      </ul>
      <div class="row">
        <div class="col-md-3 text-center puntero"
            *ngFor="let artista of _spotify.artistas ">
          <img class="img-thumbnail" [src]="artista.images || sinfoto">
        </div>
      </div>
    </div>
  </div>

</div>
